*{
  margin: 0;
  padding: 0;
  border: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.top1{
  background-color: #e4c678;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toptxt{
  display: inline-block;
}

.firtxt{
  font-weight: 700;
  font-size: 14px;
  height: 15px;
}
.sectxt{
  margin-left: 5px;
  font-size: 14px;
  height: 15px;
}
.btn{
  height: 28px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  border-radius: 5px;
  font-size: 12px;
  
}
#btntxt{
  text-decoration: none;
  color: white;
  padding: 15px;
}
.navbar{
  height: 56px;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.logo{
  height: 56px;
  width: 150px;
  
}
.tabs{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.tabs a{
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: bolder;
  margin-left: 10px;
  padding: 4px 16px;
  
}
.icons{
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.icons i{
  margin-left: 10px;
  font-size: 20px;
  color: white;
}





/* main1 */
.main1{
  height: 685px;
  width: 100%;
  background-image: url(./Homepage.jpg);
  background-size: cover;
  
 
  
}
.heading1{
  display: flex;
  width: 100%;
  height: 72px;
  justify-content: center;
  
}
.heading2{
  display: flex;
  justify-content: center;
  height: 30px;
  
  margin-top: 70px;
  

}
.heading1txt{
  font-size: 72px;
  color: white;
  margin-top: 50px;
}

.heading2txt{
  text-decoration: none;
  font-size: 28px;
  color: white;
  border-bottom: solid 2px white;
  padding-bottom: 35px;
  
}
.buttons{
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.orderbtn{
  height: 36px;
  width: 225px;
  background-color: #3e6ae1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 4px 24px;
}
.orderbtn:hover{
  background-color: #2d4da3;
}
.learnbtn{
  height: 36px;
  width: 225px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-left: 25px;
  padding: 4px 24px;
}
.learnbtn:hover{
  background-color: rgb(201, 201, 201);
}
.ordertxt{
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}
.learntxt{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}





/* main2 */

.main2{
  height: 685px;
  background-image: url(Model_y.jpg);
  background-size: cover;
  
}
.headingsec1{
  display: flex;
  width: 100%;
  height: 72px;
  justify-content: center;
  
}
.headingsec2{
  display: flex;
  justify-content: center;
  height: 30px;
  margin-top: 80px;
  
}
.headingsec1txt{
  margin-top: 90px;
  font-size: 56px;
  color: white;

}
.headingsec2txt{
  font-size: 24px;
  text-decoration: none;
  color: white;
  padding-bottom: 35px;
  border-bottom: 2px solid white;
}
.buttons2{
  display: flex;
  
  /* margin-top: 60px; */
  justify-content: center;
  align-items: start;
  position: relative; 
  top: 400px;
  
}
.orderbtn2{
  height: 36px;
  width: 225px;
  background-color: #3e6ae1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 4px 24px;
  
}
.orderbtn2:hover{
  background-color: #2d4da3;
}
.learnbtn2{
  height: 36px;
  width: 225px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 4px 24px;
  margin-left: 25px;
}
.learnbtn2:hover{
  background-color: rgb(201, 201, 201);
}
.ordertxt2{
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;

}
.learntxt2{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

/* main3 */

.main3{
  height: 685px;
  background-image: url(New_model_y.jpg);
  background-size: cover;
 
}


/* main4 */
.main4{
  height: 685px;
  background-image: url(Modex_x.jpg);
  background-size: cover;
}

/* main5 */
.main5{
  height: 685px;
  background-image: url(Model_s.jpg);
  background-size: cover;
}

/* main6 */
.main6{
  height: 685px;
  background-image: url(cybertruck.jpg);
  background-size: cover;
}
#cyber1{

}
#cyber2{
  
}
#cyber1txt{

}
#cyber2txt{
  margin-top: 15px;
}
#cyberbuttons{
  top: 350px;
}

#cyberbtn1{
  background-color: black;
  /* border-top: 1px solid white; */
  
}
#cyberbtn1:hover{
  background-color: #a2a3a5;
  
}
#cyberbtn2{
  background-color: black;
  
}
#cyberbtn2:hover{
  background-color: #a2a3a5;
  
}
#cyberbtn1txt{
  color: #616161;
  
}
#cyberbtn2txt{
  color: #616161;
}
#cyberbtn1txt:hover{
  color: #000000;
}
#cyberbtn2txt:hover{
  color: #000000;
}

.rating{
  height: 62px;
  top: 350px;
  text-align: center;
  position: relative;
  top: 360px;
}



.ratingtxt{
  
  color: #ffffff;
  font-size: 12px;
  font-weight: bolder;
}
.star{
  color: white;
}

/* main7 */
.main7{
  height: 685px;
  background-image: url(Solar_panel.jpg);
  background-size: cover;
}
#solarbtn{
  top: 430px;
}

/* main8 */
.main8{
  height: 685px;
  background-image: url(solarroof.jpg);
  background-size: cover;
}
#roofbtn{
  top: 430px;
}

/* main9 */
.main9{
  height: 685px;
  background-image: url(Powerwall.jpg);
  background-size: cover;
}
#pwbtn{
  top: 540px;
}

/* main10 */
.main10{
  height: 685px;
  background-image: url(Accessories.jpg);
  background-size: cover;
}
#shopbtn{
  top: 550px;
}